.coach--profile--wrapper {
  max-width: 1000px;
  margin-top: 2rem;
  padding: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-image: radial-gradient(
      circle at center center,
      rgba(217, 217, 217, 0.05) 0%,
      rgba(217, 217, 217, 0.05) 15%,
      rgba(197, 197, 197, 0.05) 15%,
      rgba(197, 197, 197, 0.05) 34%,
      rgba(178, 178, 178, 0.05) 34%,
      rgba(178, 178, 178, 0.05) 51%,
      rgba(237, 237, 237, 0.05) 51%,
      rgba(237, 237, 237, 0.05) 75%,
      rgba(138, 138, 138, 0.05) 75%,
      rgba(138, 138, 138, 0.05) 89%,
      rgba(158, 158, 158, 0.05) 89%,
      rgba(158, 158, 158, 0.05) 100%
    ),
    radial-gradient(
      circle at center center,
      rgb(255, 255, 255) 0%,
      rgb(255, 255, 255) 6%,
      rgb(255, 255, 255) 6%,
      rgb(255, 255, 255) 12%,
      rgb(255, 255, 255) 12%,
      rgb(255, 255, 255) 31%,
      rgb(255, 255, 255) 31%,
      rgb(255, 255, 255) 92%,
      rgb(255, 255, 255) 92%,
      rgb(255, 255, 255) 97%,
      rgb(255, 255, 255) 97%,
      rgb(255, 255, 255) 100%
    );
  background-size: 42px 42px;
}

.save--btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5rem;
  background-color: blue;
  color: white;
  font-weight: bold;
  font-size: large;
  height: 40px;
  width: 160px;
  border-radius: 15px;
  border: 1px solid white;
  cursor: pointer;
}

.save--btn:hover {
  background-color: rgb(0, 0, 220);
  border: 1px solid #666;
}

.profile--img {
  display: block;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 3px solid #ccc;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

input[type="file"] {
  display: none;
}

.profile--img--upload {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5rem;
  background-color: purple;
  color: white;
  font-weight: bold;
  font-size: large;
  height: 40px;
  width: fit-content;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 15px;
  border: 1px solid white;
  cursor: pointer;
}

.profile--img--upload:hover {
  border: 2px solid #999;
  height: 38px;
  background-color: rgb(100, 0, 100);
}

.name--input {
  display: block;
  height: 30px;
  width: 300px;
  padding: 0px 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-size: medium;
  color: black;
  border: 1px solid #aaa;
  border-radius: 15px;
  text-align: center;
}

.club--input {
  display: block;
  height: 40px;
  width: fit-content;
  padding: 0px 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5rem;
  font-size: large;
  color: black;
  border: 1px solid #aaa;
  border-radius: 15px;
  text-align: center;
}

.leave--club--btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  background-color: red;
  color: white;
  font-weight: bold;
  font-size: large;
  height: 40px;
  width: fit-content;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 15px;
  border: 1px solid white;
  cursor: pointer;
}

.leave--club--btn:hover {
  border: 2px solid #999;
  background-color: rgb(220, 0, 0);
}

.workout--overview--btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5rem;
  background-color: orange;
  color: white;
  font-weight: bold;
  font-size: large;
  height: 40px;
  width: fit-content;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 15px;
  border: 1px solid white;
  cursor: pointer;
}

.workout--overview--btn:hover {
  border: 2px solid #999;
  background-color: rgb(220, 140, 0);
}
