.club--el--wrapper {
  margin-top: 0.5rem;
  padding: 1.5rem;
  border: 2px solid #ccc;
  border-radius: 15px;
  background-color: rgba(240, 160, 20, 0.7);
}

.club--header {
  display: flex;
}

.club--name {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 40px;
  font-weight: bold;
  font-size: large;
  text-decoration: underline;
}

.club--description {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 40px;
  font-style: oblique;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
}

.club--join--btn {
  width: fit-content;
  height: 40px;
  padding: 5px 15px;
  border: 2px solid #ccc;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  font-size: large;
}

.club--join--btn:hover {
  border: 2px solid #aaa;
  background-color: #ddd;
}
